<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.dao.ChapterDao">
    <insert id="save" parameterType="Chapter">
        INSERT INTO chapter
        VALUES(NULL,#{title},#{duration},#{size},#{audioPath},#{albumId})
    </insert>


    <select id="queryAll" resultType="Chapter">
        SELECT *
      FROM  chapter
    </select>

    <select id="count" resultType="int">
        select count(*)
        FROM   chapter
    </select>

</mapper>







