<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.dao.UserDao">
    <!--查询男/女-->
    <select id="query" resultType="Integer">
        SELECT count(*)
        FROM user
        WHERE sex=#{sex} AND datediff(Now(),registDate) &lt;#{i}*7
    </select>

    <!--查询各个省份的男女用户数量-->
    <select id="queryByprovince" resultType="UserDto" parameterType="String">
        SELECT province AS NAME ,count(province) AS VALUE
        FROM user
        WHERE sex=#{sex}
        group by province
    </select>
</mapper>







